<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
                {{!-- <p>Lorem ipsum dolor sit amet.</p> --}}
            </div>
            <div>
                <form action="/admin/search-order" method="post">
                    <input type="text" placeholder="Search order ID" class="form-control bg-white" name="orderId">
                    <button type="submit" class="btn btn-md rounded font-sm">Search</button>
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    {{!-- <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div> --}}
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select" id="statusFilter">
                            <option>all</option>
                            <option>Pending</option>
                            <option>Placed</option>
                            <option>Cancelled</option>
                            <option>Delivered</option>
                            <option>Return</option>
                        </select>
                    </div>
                    {{!-- <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div> --}}
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr style="background-color: rgb(199, 210, 206);">
                                <th>Sl No</th>
                                <th scope="col">UserId</th>
                                <th scope="col">OrderId</th>
                                <th scope="col">Total</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col" class="text-end"> Action </th>
                            </tr>
                        </thead>
                        <tbody id="ordersContainer">
                            {{#each allOrders}}
                            <tr>
                                <td>
                                    {{index @index}}
                                </td>
                                <td>
                                    {{userId}}
                                </td>

                                <td>{{orderId}}</td>
                                <td>{{formatCurrency totalPrice}}</td>
                                <td>{{formatDate createdAt}}</td>

                                {{#if (eq orderStatus "placed")}}
                                <td><span class="badge rounded-pill alert-success">Placed</span></td>
                                {{else if (eq orderStatus "pending")}}
                                <td><span class="badge rounded-pill alert-warning">Pending</span></td>
                                {{else if (eq orderStatus "cancelled")}}
                                <td><span class="badge rounded-pill alert-danger">Cancelled</span></td>
                                {{else if (eq orderStatus "recieved")}}
                                <td><span class="badge rounded-pill alert-success">Delivered</span></td>
                                {{else if (eq orderStatus "return")}}
                                <td><span class="badge rounded-pill alert-danger">Return</span></td>
                                {{/if}}

                                <td class="text-end">
                                    <a href="/admin/user-orderDetails/{{_id}}?status={{orderStatus}}"
                                        class="btn btn-md rounded font-sm">Details</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <a class="previous">◀prev </a>
            <nav aria-label="Page navigation example">
                <ul id="paginationContainer" class="pagination justify-content-start">
                </ul>
            </nav>
            <a class="next"> next▶</a>
        </div>
    </section> <!-- content-main end// -->

    <script>
        $(document).ready(function () {
            const itemsPerPage = 5;
            const numItems = $('#ordersContainer').children().length;
            const numPages = Math.ceil(numItems / itemsPerPage);
            let currentPage = 1;

            // Create pagination links
            for (let i = 1; i <= numPages; i++) {
                $('<li class="page-item"><a class="page-link" data-page="' + i + '" href="#">' + i + '</a></li>').appendTo('#paginationContainer');
            }

            // Bind click event to pagination links
            $('.page-link').click(function (e) {
                e.preventDefault();
                const newPage = $(this).data('page');

                if (newPage === currentPage) {
                    return;
                }

                const startIndex = (newPage - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;

                $('#ordersContainer').children().hide().slice(startIndex, endIndex).show();

                // Update active page link
                $('.page-item.active').removeClass('active');
                $(this).parent().addClass('active');

                currentPage = newPage;
            });

            // Add event handler for next button
            $('.next').click(function (e) {
                e.preventDefault();
                const newPage = currentPage + 1;

                if (newPage > numPages) {
                    return;
                }

                const startIndex = (newPage - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;

                $('#ordersContainer').children().hide().slice(startIndex, endIndex).show();

                // Update active page link
                $('.page-item.active').removeClass('active');
                $('.page-link[data-page="' + newPage + '"]').parent().addClass('active');

                currentPage = newPage;
            });

            // Add event handler for previous button
            $('.previous').click(function (e) {
                e.preventDefault();
                const newPage = currentPage - 1;

                if (newPage < 1) {
                    return;
                }

                const startIndex = (newPage - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;

                $('#ordersContainer').children().hide().slice(startIndex, endIndex).show();

                // Update active page link
                $('.page-item.active').removeClass('active');
                $('.page-link[data-page="' + newPage + '"]').parent().addClass('active');

                currentPage = newPage;
            });

            // Show first page by default
            $('.page-link:first').parent().addClass('active');
            $('#ordersContainer').children().hide().slice(0, itemsPerPage).show();
        });
    </script>

    <script>
        $(document).ready(function () {
            // Listen for changes in the status filter
            $('#statusFilter').change(function () {
                var selectedStatus = $(this).val(); // Get the selected status
                if (selectedStatus == 'all') {
                    // If 'all' status is selected, show all rows
                    $('#ordersContainer tr').show();
                } else {
                    // Otherwise, hide all rows and show only rows with the selected status
                    $('#ordersContainer tr').hide();
                    $('#ordersContainer tr td:nth-child(6)').each(function () {
                        if ($(this).text() == selectedStatus) {
                            $(this).parent().show();
                        }
                    });
                }
            });
        });

    </script>