<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
                {{!-- <p>Lorem ipsum dolor sit amet.</p> --}}
            </div>
            <div>
                <form action="/admin/search-order" method="post">
                <input type="text" placeholder="Search order ID" class="form-control bg-white" name="orderId">
                <button type="submit" class="btn btn-md rounded font-sm">Search</button>
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    {{!-- <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div> --}}
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Placed</option>
                            <option>Pending</option>
                            <option>Cancelled</option>
                            <option>Delivered</option>
                        </select>
                    </div>
                    {{!-- <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div> --}}
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">UserId</th>
                                <th scope="col">OrderId</th>
                                <th scope="col">Total</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col" class="text-end"> Action </th>
                            </tr>
                        </thead>
                        {{#each allOrders}}
                        <tbody>
                            <tr>
                                <td>
                                    {{userId}}
                                </td>

                                <td>{{orderId}}</td>
                                <td>₹{{totalPrice}}</td>
                                <td>{{createdAt}}</td>

                                {{#if (eq orderStatus "placed")}}
                                <td><span class="badge rounded-pill alert-success">Placed</span></td>
                                {{else if (eq orderStatus "pending")}}
                                <td><span class="badge rounded-pill alert-warning">Pending</span></td>
                                {{else if (eq orderStatus "cancelled")}}
                                <td><span class="badge rounded-pill alert-danger">Cancelled</span></td>
                                {{else if (eq orderStatus "recieved")}}
                                <td><span class="badge rounded-pill alert-success">Recieved</span></td>
                                {{/if}}

                                <td class="text-end">
                                    <a href="/admin/user-orderDetails/{{_id}}?status={{orderStatus}}" class="btn btn-md rounded font-sm">Details</a>
                                </td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
   