<div class="screen-overlay"></div>
<main class="main-wrap">
    <section class="content-main">
        <h3>Users</h3><br>
        <div class="card mb-4">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr style="background-color: rgb(199, 210, 206);">
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Joined date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="ordersContainer">
                {{#each user}}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                {{!-- <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                    style="width: 45px; height: 45px" class="rounded-circle" /> --}}
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{name}}</p>
                                    <p class="text-muted mb-0">{{email}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{mobile}}</p>
                        </td>
                        <td>{{createdAt}}</td>
                        <td>
                            {{#if blocked}}
                            <p class="fw-normal mb-1" style="color: red;">Blocked</p>
                            {{else}}
                            <p class="fw-normal mb-1" style="color: green;">Active</p>
                            {{/if}}
                        </td>
                        <td>
                            <div>

                                {{#if blocked}}
                                <button id="block-btn" style="width:90px;" onclick="unblockUsers('{{_id}}',{{blocked}})"
                                    class="btn font-sm rounded btn-outline-success rounded mt-2">unblock</button>
                                {{else}}
                                <button id="block-btn2" style="width:90px;" onclick="blockUsers('{{_id}}',{{blocked}})"
                                    class="btn font-sm btn-outline-danger rounded mt-2">block</button>
                                {{/if}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul id="paginationContainer" class="pagination justify-content-start">
                </ul>
            </nav>             
        </div>
    </section> <!-- content-main end// -->

    <script>
        function unblockUsers(userId, currStatus) {
            $.ajax({
                url: `/admin/unblock-user/${userId}`,
                data: {
                    userId: userId,
                    currentStat: currStatus
                },
                type: 'patch',
                success: (res) => {
                    swal({
                        title: "Successfull!",
                        text: `user has been Unblocked`,
                        icon: "success",
                        button: "Ok!",
                    }).then(() => {
                        location.reload();
                    })
                }
            })
        }

        function blockUsers(userId, currStatus) {
            $.ajax({
                url: `/admin/block-user/${userId}`,
                data: {
                    userId: userId,
                    currentStat: currStatus
                },
                type: 'patch',
                success: (res) => {
                    swal({
                        title: "Success",
                        text: "User has been blocked!!",
                        icon: "success",
                        button: "Ok",
                    }).then(() => {
                        location.reload();
                    })

                }
            })
        }
    </script>

    <script>
        $(document).ready(function () {
            const itemsPerPage = 5;
            const numItems = $('#ordersContainer').children().length;
            const numPages = Math.ceil(numItems / itemsPerPage);

            // Create pagination links
            for (let i = 1; i <= numPages; i++) {
                $('<li class="page-item active"><a class="page-link" data-page="' + i + '" href="#">' + i + '</a></li>').appendTo('#paginationContainer');
            }

            // Bind click event to pagination links
            $('.page-link').click(function (e) {
                const currentPage = $(this).data('page');
                const startIndex = (currentPage - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;

                $('#ordersContainer').children().hide().slice(startIndex, endIndex).show();
                return false;
            })
            // Show first page by default
            $('.page-link:first').addClass('active');
            $('#ordersContainer').children().hide().slice(0, itemsPerPage).show();
        })
    </script>