<div class="screen-overlay"></div>

<main class="main-wrap">

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Offers </h2>
                <p>Add and manage offers</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form method="POST" action="/admin/offers">
                            <label for="category">Category:</label>
                            <select class="form-select" name="category" id="main-category">
                                <option>Select</option>
                                <option>Men's Clothing</option>
                                <option>Women's Clothing</option>
                                <option>Kid's Clothing</option>
                            </select>

                            <label for="subCategory">Subcategory:</label>
                            <select id="sub-category" class="form-select" name="subCategory" required="">
                                <!-- Subcategories will be loaded dynamically -->
                            </select>

                            <label for="discountPercentage">Discount Percentage:</label>
                            <input class="form-control" type="number" name="discountPercentage" id="discountPercentage"
                                min="0" max="100">

                            <label for="startDate">Start Date:</label>
                            <input class="form-control" type="date" name="startDate" id="startDate" required>

                            <label for="endDate">End Date:</label>
                            <input class="form-control" type="date" name="endDate" id="endDate" required>

                            <hr>
                            <button type="submit">Create Discount</button>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover" style="overflow: hidden;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sl No.</th>
                                        <th class="text-center">Category</th>
                                        <th class="text-center">Sub-category</th>
                                        <th class="text-center">Start Date</th>
                                        <th class="text-center">End Date</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each offers}}
                                    <tr>
                                        <td class="text-center">
                                            {{index @index}}
                                        </td>
                                        <td class="text-center">
                                            {{category}}
                                        </td>
                                        <td class="text-center">
                                            {{subCategory}}
                                        </td>
                                        <td class="text-center">
                                            {{formatDate startDate}}
                                        </td>
                                        <td class="text-center">
                                            {{formatDate endDate}}
                                        </td>
                                        <td class="text-center">
                                            {{#if (offerIsActive endDate)}}
                                            <span class="badge rounded-pill alert-success">Active</span>
                                            {{else}}
                                            <span class="badge rounded-pill alert-danger">Expired</span>
                                            {{/if}}
                                        </td>
                                        <td class="text-center">
                                            <a href="#" class="btn btn-sm font-sm rounded btn-brand" style="background-color: rgb(243, 86, 86);">
                                                Delete
                                            </a>
                                        </td>

                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->

    <script>
        $(document).ready(function () {
            // Listen for the change event on the main category select element
            $('#main-category').change(function () {
                // Get the selected value of the main category select element
                var mainCategory = $('#main-category').val();

                // Send an AJAX request to your server with the selected main category value
                $.ajax({
                    url: '/admin/get-subcategories',
                    type: 'POST',
                    data: { mainCategory: mainCategory },
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        // Parse the JSON object and use it to populate the subcategory select element
                        var subCategories = response.subCategory;
                        var options = '<option value="">Select a subcategory</option>';
                        for (var i = 0; i < subCategories.length; i++) {
                            options += '<option value="' + subCategories[i] + '">' + subCategories[i] + '</option>';
                        }
                        $('#sub-category').html(options);
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr);
                        console.error(status);
                        console.error(error);
                    }
                });
            });
        });

    </script>