<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Checkout
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">

            <div class="row">
                <h3>Checkout</h3>
                <div class="col-12">
                    <div class="divider mt-50 mb-50"></div>
                </div>
            </div>

            {{!-- modal for adding new address --}}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New address</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div>
                            <form action="/add-address" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" required name="name" placeholder="Name *" id="user-name">

                                </div>
                                <div class="form-group">
                                    <input required type="tel" name="mobile" placeholder="Mobile *" id="user-phone">

                                </div>
                                <div class="form-group">
                                    <input required type="text" name="pincode" placeholder="Postcode *"
                                        id="user-pin-code">

                                </div>
                                <div class="form-group">
                                    <input type="text" name="area" required placeholder="Address *">
                                </div>
                                <div class="form-group">
                                    <input required type="text" name="locality" placeholder="Locality *">
                                </div>
                                <div class="form-group">
                                    <input required type="text" name="district" placeholder="District *">
                                    <input type="text" name="newAddress" hidden value="true">
                                </div>
                                <div class="form-group">
                                    <div class="custom_select">
                                        <select class="form-control select-active" name="state" style="width: 140px;">
                                            <option>Kerala</option>
                                            <option>Tamil Nadu</option>
                                            <option>Andrapradesh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            {{!-- address and payment method selection to chechout --}}
            <form id="checkout-form">

                <div class="row">
                    <div class="col-md-6">
                        <input type="text" hidden name="userId" value="{{user.response._id}}">
                        <div class="mb-25">
                            <h4>Select Address</h4>
                        </div>
                        <div class="payment_option">
                            {{#each address}}
                            <div class="order_review">
                                <div class="form-check">
                                    <input class="form-check-input" checked type="radio" name="deliveryAddress"
                                        id="flexRadioDefault1" value="{{_id}}" required>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        <ul>
                                            <li>Name: {{name}}</li>
                                            <li>Mobile: {{mobile}}</li>
                                            <li>Pincode: {{pincode}}</li>
                                            <li>Address: {{locality}}, {{area}}, {{district}}, {{state}}</li>
                                            <br>
                                        </ul>
                                    </label>
                                </div>

                            </div>
                            <br>
                            {{/each}}
                        </div>


                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add new address</button>

                    </div>

                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each products}}
                                        <tr>
                                            <td class="image product-thumbnail"><img src="{{product.images.image1}}"
                                                    alt="#"></td>
                                            <td>
                                                <h5><a href="#">{{product.name}}</a></h5>
                                                <span class="product-qty">x {{quantity}}</span>
                                            </td>
                                            <td>₹{{prices product.price product.discountedPrice}}</td>
                                        </tr>
                                        {{/each}}

                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">{{formatCurrency total}}</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>0</em></td>
                                        </tr>
                                        {{#if discountPrice}}
                                        <tr>
                                            <th>Discount</th>
                                            <td colspan="2"><em>{{formatCurrency discountPrice}}</em></td>
                                        </tr>
                                        {{/if}}
                                        {{#if afterDiscount}}
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span
                                                    class="font-xl text-brand fw-900">{{formatCurrency
                                                    afterDiscount}}</span>
                                            </td>
                                        </tr>
                                        {{else}}
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span
                                                    class="font-xl text-brand fw-900">{{formatCurrency total}}</span>
                                            </td>
                                        </tr>
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>


                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option"
                                            id="exampleRadios3" checked="" value="COD">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse"
                                            data-target="#" aria-controls="bankTranfer">COD</label>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option"
                                            id="exampleRadios4" value="Razorpay">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse"
                                            data-target="#" aria-controls="checkPayment">RazorPay</label>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option"
                                            id="exampleRadios5" value="Wallet">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse"
                                            data-target="#" aria-controls="checkPayment">Wallet</label>
                                    </div>
                                    {{!-- <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option"
                                            id="exampleRadios5" checked="" value="Paypal">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse"
                                            data-target="#" aria-controls="paypal">Paypal</label>
                                    </div> --}}
                                </div>
                            </div>
                            <button class="btn btn-fill-out btn-block mt-30">Place Order</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>
</main>
<footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col flex-horizontal-center">
                            <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                            <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                        </div>
                        <div class="col my-4 my-md-0 des">
                            <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                    shopping.</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Subscribe Form -->
                    <form class="form-subcriber d-flex wow fadeIn animated">
                        <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                        <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                        </div>
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">About</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-3">
                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a href="/login">Sign In</a></li>
                        <li><a href="/user-cart">View Cart</a></li>
                        <li><a href="/wishlist">My Wishlist</a></li>
                        <li><a href="/orders">Track My Order</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="/orders">Order</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="widget-title wow fadeIn animated">Install App</h5>
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <p class="wow fadeIn animated">From App Store or Google Play</p>
                            <div class="download-app wow fadeIn animated">
                                <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                        src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong>
                    - HTML Ecommerce Template </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights
                    reserved
                </p>
            </div>
        </div>
    </div>


    <script>
        $("#checkout-form").submit((e) => {
            e.preventDefault();
            let form_data = $('#checkout-form').serialize();
            // Add confirmation dialogs for all payment methods
            swal({
                title: "Are you sure?",
                text: "You are about to place an order. Continue?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((confirm) => {
                    if (confirm) {
                        let payment_method = $('input[name=payment_option]:checked').val();
                        console.log(payment_method)
                        // Wallet payment method requires wallet details confirmation
                        if (payment_method === 'Wallet') {
                            $.ajax({
                                method: 'POST',
                                url: '/get-wallet-details',
                                data: form_data,
                                success: (response) => {
                                    console.log('res', response)
                                    if (response.walletTotal < response.cartTotal) {
                                        swal({
                                            title: "Insufficient Balance",
                                            text: "You do not have enough balance in your wallet to complete the transaction.",
                                            icon: "error"
                                        });
                                    }
                                    else {
                                        swal({
                                            title: "Confirm Wallet Payment",
                                            text: `You have ₹ ${response.walletTotal} in your wallet. Continue?`,
                                            icon: "warning",
                                            buttons: true,
                                            dangerMode: true,
                                        })
                                            .then((confirm) => {
                                                if (confirm) {
                                                    placeOrder();
                                                }
                                            });
                                    }
                                },
                                error: (response, stat, err) => {
                                    console.log(response);
                                }
                            });
                        }
                        else {
                            placeOrder();
                        }
                    }
                });

            function placeOrder() {
                // Send AJAX request to place order
                $.ajax({
                    method: 'POST',
                    url: ('/place-order'),
                    data: form_data,
                    success: (response) => {
                        switch (response.status) {
                            case 'cod':
                                swal(
                                    "Successful!",
                                    "Order Placed Successfully!",
                                    "success"
                                )
                                    .then(() => {
                                        location.replace('/landing-page');
                                    });
                                break;
                            case 'wallet':
                                swal(
                                    "Successful!",
                                    "Order Placed Successfully!",
                                    "success"
                                )
                                    .then(() => {
                                        location.replace('/landing-page');
                                    });
                                break;
                            case 'razorpay':
                                razorPayPayment(response);
                                break;
                        }
                    },
                    error: (response, stat, err) => {
                        console.log(response);
                    }
                });
            }
        });
    </script>