<script src="https://kit.fontawesome.com/1236d29865.js" crossorigin="anonymous"></script>
<section>
    <div class="container">
        <div class="main-body">
            <br>
            <div>
               <a href="/profile/{{user.userData._id}}"><i class="fa-solid fa-arrow-left-long"></i>  Go back</a>
            </div>
            <br>
            <h3>Edit profile</h3>
            <hr>
            <div class="row gutters-sm">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <form action="/edit-profile/{{user.userData._id}}" method="post">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="{{user.userData.name}}" name="name" type="text">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="{{user.userData.email}}" name="email" type="text">
                                    </div>
                                </div>
                                <hr>
                                {{!-- <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        (239) 816-9029
                                    </div>
                                </div> --}}
                                {{!--
                                <hr> --}}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Mobile</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input value="{{user.userData.mobile}}" name="mobile" type="tel">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-md rounded font-sm hover-up">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>