<script src="https://kit.fontawesome.com/1236d29865.js" crossorigin="anonymous"></script>
<section>
  <div class="container">
    <div class="main-body">

      <br>
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                  width="150">
                <div class="mt-3">
                  <h4>{{user.userData.name}}</h4>
                  {{!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                  <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> --}}
                  {{!-- <button class="btn btn-primary">Logout</button> --}}
                  <a href="/edit-profile/{{user.userData._id}}"><button class="btn btn-outline-primary">Edit profile</button></a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <a href="/orders"><i class="fa-solid fa-box"> </i> Your orders</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">

                <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  <i class="fa-solid fa-screwdriver-wrench"> </i> Account Settings</a>
                </a>

                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <a href="/change-password"><i class="fa-solid fa-key"></i> Change Password</a>
                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.userData.name}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.userData.email}}
                </div>
              </div>
              <hr>
              {{!-- <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  (239) 816-9029
                </div>
              </div> --}}
              {{!--
              <hr> --}}
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Mobile</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.userData.mobile}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{#each user.addressData}}
                  <ul>
                    <li>Name: {{name}}</li>
                    <li>Mobile: {{mobile}}</li>
                    <li>Pincode: {{pincode}}</li>
                    <li>Address: {{locality}}, {{area}}, {{district}}, {{state}}</li>
                    <br>
                    <li>
                      <a onclick="deleteAddress('{{_id}}')"><i class="fa-solid fa-trash"></i></a>
                    </li>
                  </ul>
                  <hr>
                  {{/each}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-info " target="" href="/add-address">Add address</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>